#title {

    background-color: #4aaaa5;
    color: white;
    padding: 30px;
    border-radius: 15px;
    font-family: "'Georgia', Times, Times New Roman, serif;"
}

#head1 {

    background-color: #ffffff;

}


a.links {
    
    font-size: x-large;
    color: #777777;
    text-decoration: none;
}


.body1 {

    background-color: #dddddd;

}

.body2 {

background-color: #ffffff;
align-content: auto;
margin-left: 20%;
margin-right: 20%;;
margin-top: 3%;


}

.body3 {

    color: #4aaaa5;
    width: 20%;
    font-family: 'Georgia', Times, Times New Roman, serif;

}

#picture {

    width: 15%;
    height: 15%;
    padding: 1.5%;
}

#about {

    font-size: larger;
    color: #777777;
    line-height: 150%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

.image {
    position: relative;
    width: 23%;
    height: 23%;
    left: 3%;

}

.image1 {
    position: absolute;
    width: 13.65%;
    height: 3%;
    right: 64.25%;
    top: 50%;
    background-color: teal;
    text-align: center;
    color: white;
    font-size: large;
}

.image2 {
    position: absolute;
    width: 13.7%;
    height: 3%;
    right: 50.3%;
    top: 50%;
    background-color: teal;
    text-align: center;
    color: white;
    font-size: large;
}

.image3 {
    position: absolute;
    width: 13.65%;
    height: 3%;
    right: 36.4%;
    top: 50%;
    background-color: teal;
    text-align: center;
    color: white;
    font-size: large;
}

.image4 {
    position: absolute;
    width: 13.6%;
    height: 3%;
    right: 22.5%;
    top: 50%;
    background-color: teal;
    text-align: center;
    color: white;
    font-size: large;
}

.button1 {

 width: 10%;
 background-color: teal;
 color: white;
 height: 35px;
 margin-bottom: 2%;

}